<html>
  <head>
     <title>경로 2가지</title>
  </head>

  <body>
	<li><a href="장미.png" target="a">장미1</a></li>  
	<li><a href="https://ahnssi9web.github.io/web1/layout/장미.png" target="a">장미2</a></li>
	  	  
	<li><a href="그만웃겨.jpg" target="a">그만웃겨1</a></li>  
	<li><a href="https://ahnssi9web.github.io/web1/layout/그만웃겨.jpg" target="a">그만웃겨2</a></li>
	  
	<li><a href="벌써부터.jpg" target="a">벌써부터1</a></li>  
	<li><a href="https://ahnssi9web.github.io/web1/layout/벌써부터.jpg" target="a">벌써부터2</a></li>
  </body>
</html>
