<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Frames with Names</title>
</head>

<frameset cols="200, *">
  <frame src="ahn39-2.html" marginheight="5" marginwidth="5" noresize=
      "noresize" scrolling="auto" name="menu" />
  <frame src="ahn39-3.html" marginheight="9" marginwidth="9" noresize="noresize"
      scrolling="auto" name="content" />
</frameset>

</html>
